body
{
  background-color: #eee0bb;
}

.main-title-h1
{
  color: black;
}

.svg-settings-btn
{
  fill: red;
}

.board-legend
{
  background-color: blue;
  color: white;
}

.board-FS
{
  background-color: Yellow;
}


.sn-content
{
  background-color: grey;
}

.add-sn-div
{
  background-color: rgba(10,10,10,.3);
}

/* .sn-add-btn
{
  stroke: blue;
  background-color: none;
} */

.sn-add-btn:hover
{
  background-color: rgba(10,10,10,.1);
}

.section-add-btn
{
   stroke: red;
}

.add-section-div:hover
{
  background-color: rgba(10,10,10,.1);
}
