*
{
  transition: transform 0.4s;
}

body
{
  background-color: #eee0bb;
  font-family: "Indie Flower";
}

.container
{
  display: flex;
  flex-direction: column;
}

/* ---------------------------------- Header----------------------------------*/
.header-div
{
  display: flex;
  margin: 10px 10px;
}

.main-title-h1
{
  margin: 0px;
  margin-left: auto;
  font-size:50px;
}

.svg-settings-btn
{
  height: 40px;
  fill: black;
  margin-left: auto;
  transition: fill .2s;
}

.editable:empty:before {
    content: attr(data-placeholder);
}

.svg-settings-btn:hover
{
  fill: black
}

/* ---------------------------------Board------------------------------------ */
.board-FS
{
  position: relative;
  background-color: white;
  margin: 0px;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  box-shadow: 2px 2px 10px grey;
}
.board-legend,.board-legend:focus
{
  outline: none;
  border-radius: inherit;
  background-color: inherit;
  font-size: 25px;
  padding: 4px 10px;
  border: 1px solid;
}

#close
{
  position: absolute;
  top: -15px;
  right: 0.5%;
  transform: scale(1.5);
  color: black;
  transition: color .4s
}

#close:hover
{
    color: red;
}



/* ------------------------------Sticky Note--------------------------------- */
 .sn-add-btn
{
  width: 250px;
  height: 250px;
  margin: 10px 10px;
}

.sn-content
{
  width: 250px;
  height: 250px;
  padding: 10px;
  margin-top:10px;
  overflow:hidden;
  font-family: inherit;
  font-size: 20px;
  box-sizing: border-box;
  resize: none;
  box-shadow:0px 10px 24px 0px rgba(0,0,0,0.75);
}
.sn-div
{
  margin: none;
  padding: none;
  display: flex;
  flex-wrap: wrap;
}

.sn-div-i
{
  transition: transform 1s;
}

.sn-div-i:hover, .sn-div-i:focus
{
  /* background-color: red; */
  transform: rotate(0deg)  scale(1.1);
}
.sn-content:focus
{
  outline: none;
}

.sn-add-btn
{
  border-radius: 20px;
  height: 45px;
  background-color: none;
  padding: 102.5px 0px;
  stroke: Black;
  transition: background-color 0.1s;
}

.sn-add-btn:hover
{
  background-color: rgba(10,10,10,.1);
}
/* -----------------------------Animation------------------------------------- */
@keyframes fadeIn {
  0% {transform: scale(0);}
  100% {transform: scale(1);}
}
@keyframes fadeout {
  0% {transform: scale(1);}
  100% {transform: scale(0);}
}
.ExitAnim
{
  animation: fadeout .5s;
}

.animated
{
  animation: fadeIn .5s;
}


/* ---------------------------------New Board--------------------------------- */
.section-add-btn
{
   height: 45px;
   stroke: #AAA;
   margin: 10px 0px;
   border-radius: 10px;
   width: 100%;
}
.add-section-div
{

  transition: background-color 0.1s;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  margin: 10px 0px;
  height: 300px;
}
.add-section-div:hover
{
  background-color: rgba(10,10,10,.1);
}

.section-add-btn
{
    padding-top: 110px;
}



/*------------------------------ New Sticky Note div--------------------------*/
.add-sn-div
{
  position: fixed;
  top:0;
  left: 0;
  bottom: 0px;
  padding: 0px;
  margin: 0px;
  resize: both;
  overflow: auto;
  background-color: rgba(10,10,10,.3);
  width: 100%;
  height: 100%;

  /* Centering */
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

/* -----------------------------Advanced Editing----------------------------- */
.add-sn-div .sn-content
{
  width: 350px;
  height: 350px;
}

.checkmark
{
  fill: rgba(255,255,255,.6);
  width: 30px;
  height: 30px;
}

.checkmark:hover
{
  fill: rgba(255,255,255,.8);
}
.checkmark:focus
{
  fill: rgba(255,255,255,1);
}

.Editing_buttons
{

  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.AdvBtn
{
  margin: 5px;
  padding: 10px;
  background-color: Transparent;
  border: none;
  border-radius: 5px;
}
.AdvBtn:hover
{
  background-color: rgba(0, 0, 0, 0.2);
}
.AdvBtn:focus
{
  background-color: rgba(0, 0, 0, 0.5);
  outline: none;
}

.fa-solid
{
  color: white;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%
}
/* ------------------------------Context Menu-------------------------------- */
.Context {
  --mouse-x: 0;
  --mouse-y: 0;
  display: none;
  position: absolute;
  margin: 0;
  left: 0;
  top: 0;
  background-color: white;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  align-content: center;
  border-radius: 10px;
  /* The following line is responsible for all the magic */
  transform: translateX(min(var(--mouse-x), calc(100vw - 100%)))
             translateY(min(var(--mouse-y), calc(100vh - 100%)));
}
.editicon
{
  display: inline;
  color: red;
  padding-bottom: 10px;
}
.MenuBtn
{
  margin: 2px;
  padding: 5px 0px;
  outline: none;
  border: none;
  border-radius: inherit;
  /*border-bottom: solid 1px black; */
  transition: backgroundColor 1s;
}
.MenuBtn:hover
{
  background-color: lightgrey;
  outline: none;
  border: none;
}
/* --------------------------Resoonsiveness---------------------------------- */
@media screen and (max-width:620px)
{
  .board-FS, .sn-div
  {
    flex-direction: column;
    justify-content: center;
    align-items:center;
  }
  .Editing_buttons
  {
    margin: 10px 20px;
  }

}
