body
{
  background-color: #0b5fb6 ;
}

.main-title-h1 , .svg-settings-btn
{
  color: white;
  fill: white;
}

.board-legend
{
  background-color: #476481;

  color: white;
  border-color: white;
}

.board-legend:focus
{
  background-color: #476481;
}

.board-FS
{
  border-radius: 12px;
  background-color: #ebebeb;
}


.sn-content
{
  border-radius: 12px;
  background-color: #FFFBE9;
}

.add-sn-div
{
  background-color: rgba(10,10,10,.3);
}

.sn-add-btn
{

}

.sn-add-btn:hover
{
  background-color: rgba(10,10,10,.1);
}

.section-add-btn
{
   stroke: white;
}

.checkmark
{

}

.add-section-div:hover
{
  background-color: rgba(10,10,10,.1);
}
