*{
  font-family: Arial;
  text-align: center;
}

.circle {
  margin: 0 auto;
  background: rgb(167, 0, 88) ;
  width: 200px  ;
  height: 200px ;
  border-radius: 300px ;
}

span{
  color: #fff;
  margin-top: 100px;
  display: block;
  position: relative;
  top: 38% ;
  font-weight: 400;
  font-size: 30px ;
  color: #fff;
}

.square {
  border-radius: 10px ;
  margin: 0 auto;
  background: rgb(167, 0, 88) ;
  width: 500px  ;
  height: 200px ;


}
