*
{
  text-align: center;
  font-family: sans-serif;
}
th
{
  background-color: rgba(168,241,214,255);
  padding: 10px;
  padding-left:  30px;
  padding-right:  30px;
  font-size: 17px;
}

td
{
  background-color: rgba(210,248,235,255);
  padding: 30px;
  font-size: 15px;
}

table
{

  margin-left: auto;
  margin-right: auto;
}
